*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    min-height: 100%;
    position: relative;
}

html,
html:focus-within {
    scroll-behavior: smooth;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html,
body,
head,
main,
footer {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}


img,
picture,
video,
canvas {
    display: block;
    max-width: 100%;
}

input,
textarea,
select {
    display: block;
}

input,
button,
textarea,
select,
input::placeholder {
    font: inherit;
}

button,
input[type="button"],
input[type="submit"],
input[type="checkbox"],
input[type="radio"],
input[type="file"] {
    cursor: pointer;
}

a {
    color: inherit;
    text-decoration: none;
}

@media (prefers-reduced-motion: reduce) {

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }

    html,
    html:focus-within {
        scroll-behavior: auto;
    }
}

html {
    font-family: "Cairo";
}



/* Navbar */

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    opacity: 0.85;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    z-index: 5;
}

nav .logo {
    font-size: 2rem;
}

nav .tab {
    background-color: #ffffff4e;
    width: fit-content;
    height: fit-content;
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    height: 40px;
}

nav .tab:hover {
    background-color: #ffffff96;
}

nav .tab:active {
    background-color: #ffffffda;
}

/* Hero Section */
.hero-section {
    background-image: url("../assets/images/hero-background.jpg");
    background-position: 50% 70%;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}

.hero-heading {
    font-size: 7rem;
    margin-top: 15vh;
}

.hero-sub-heading {
    font-size: 4rem;
    margin-top: 2rem;
}

.background-blur {
    background-image: url("../assets/images/hero-background.jpg");
    background-position: 50% 70%;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    filter: blur(5px);
}

/* Responsive Text */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 450px) {

    nav .logo {
        font-size: 1rem;
    }

    .hero-heading {
        font-size: 2rem;
        margin-top: 10rem;
    }

    .hero-sub-heading {
        font-size: 1.5rem;
        margin-top: 1rem;
    }
}


@media only screen and (min-width: 450px) {

    nav .logo {
        font-size: 1.5rem;
    }

    .hero-heading {
        font-size: 3rem;
        margin-top: 10rem;
    }

    .hero-sub-heading {
        font-size: 2rem;
        margin-top: 1.5rem;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

    nav .logo {
        font-size: 2rem;
    }

    .hero-heading {
        font-size: 4rem;
    }

    .hero-sub-heading {
        font-size: 2.5rem;
        margin-top: 1.5rem;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

    .hero-heading {
        font-size: 5rem;
    }

    .hero-sub-heading {
        font-size: 3rem;
        margin-top: 1.5rem;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

    .hero-heading {
        font-size: 6rem;
        margin-top: 8rem;
    }

    .hero-sub-heading {
        font-size: 4rem;
        margin-top: 1.5rem;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

    .hero-heading {
        font-size: 7rem;
        margin-top: 7rem;
    }

    .hero-sub-heading {
        font-size: 5rem;
        margin-top: 1.5rem;
    }
}

/* Product Card */

.product-card {
    margin: 1rem;
    background-color: var(--antiflash-white);
    width: 300px;
    height: 420px;
    border-radius: 20px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
    position: relative;
}

.card-face {
    opacity: 1;
    transition: opacity .2s ease-in-out;
    z-index: 4;
}

.face-img {
    height: 250px;
    width: 100%;
    overflow: hidden;
    padding: 1rem;
    border-radius: 20px 20px 0 0;
}

.face-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

.face-details,
.back-details {
    padding: 1rem;
}

.face-details .category {
    font-family: "Cairo";
    font-weight: 400;
    color: var(--medium-grey);
    font-size: 1rem;
}

.face-details .name,
.card-back .name {
    font-family: "Cairo";
    font-weight: 800;
    color: var(--prussian-blue);
    font-size: 2rem;
    line-height: 100%;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.face-details .price {
    font-family: "Cairo";
    font-weight: 500;
    color: var(--bice-blue);
    font-size: 1rem;
}

.face-actions {
    height: 20px;
    padding-right:25px;
    margin-bottom: 10px;
    opacity: 1;
    transition: opacity .2s ease-in-out;
}

.card-back {
    position: absolute;
    top: 0;
    opacity: 0;
    transition: opacity .2s ease-in-out;
}

.back-details .details {
    margin-top: 10px;
    line-height: 1.5;
    color: var(--bice-blue);
    height: 100%;
    width: 100%;
    text-align: justify;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 12;
    -webkit-box-orient: vertical;
}

.product-card:hover .card-face {
    opacity: 0;
    transition: opacity .2s ease-in-out;
}

.product-card:hover .card-back {
    opacity: 1;
    transition: opacity .2s ease-in-out;
}


.account-tab {
    padding: 5px 3px;
    background-color: var(--antiflash-white);
    color: var(--prussian-blue);
    position: absolute;
    right: 50px;
    top: 70px;
    border-radius: 10px;
    display: none;
}

.account-tab a {
    text-decoration: none;
    display: block;
    padding: 5px 10px;
}

.account-tab a:hover {
    background-color: var(--silver);
}


.form-container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 40px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 4;
    height: 100%;
    width: 100%;
    padding: 0 30px;
}

.form {
    background-color: #ffffff9c;
    padding: 10px 15px;
    width: 100%;
    max-width: 400px;
    border-radius: 10px;
}

.form-heading {
    font-size: 5rem;
}

.input-group {
    width: 100%;
    margin: 5px 0;
}

.input-group label {
    color: var(--prussian-blue);
    font-weight: 700;
    width: 100%;
}

.input-group input {
    height: 60px;
    width: 100%;
    padding: 5px 10px;
    font-size: 1.3rem;
    color: var(--prussian-blue);
    font-weight: 400;
    outline: none;
    border: none;
}

.input-group input[type="checkbox"] {
    height: 20px;
    width: 20px;
    display: inline-block;
    margin: 5px;
    padding: 5px 10px;
    border-radius: 5px;
    color: var(--prussian-blue);
    font-weight: 400;
    outline: none;
    border: none;
}

.input-group input:focus {
    outline: none;
    border: none;
}

.input-group input::placeholder {
    color: var(--silver);
}

.input-group button {
    height: 60px;
    width: 100%;
    margin: 10px 0;
    padding: 5px 10px;
    font-size: 1.3rem;
    background-color: var(--prussian-blue);
    color: var(--white);
    font-family: "blackpast";
    outline: none;
    border: none;
}

.account-status-container {
    text-align: center;
    line-height: 1.3;
}

.account-status-container a{
    text-decoration: underline;
    font-weight: 600;
}